.Title{
    text-align: center;
}

.pokemonList{
   
}

.pokemon{
    list-style-type:none;
}

.pokeName{
    text-transform: capitalize;
}

/* .poketype_item{
    border: 1px solid gray;
    background-color: gray;
    color:white;
    list-style-type:none;
    display: flex;
    flex-direction: row;
} */